<div class="navbar">
  <div class="nav-inner">
    <div class="logo"><a href="/">ClubCovoit</a></div>
    <div class="nav">
      <a class="btn btn-secondary" href="/">Accueil</a>
      <a class="btn btn-secondary" href="/clubs">Clubs</a>
      <a class="btn btn-secondary" href="/index.html">Activités</a>
      <a class="btn btn-secondary" href="/create.html">Créer</a>
      <a class="btn btn-secondary" href="/profile.html">Profil</a>
    </div>
  </div>
</div>
